Options -MultiViews

AddDefaultCharset UTF-8

AddType text/html .php
AddType text/plain .txt

AddType 'text/turtle; charset=UTF-8' .ttl
AddType 'application/rdf+xml; charset=UTF-8' .rdf .owl
AddType 'application/ld+json; charset=UTF-8' .json


RewriteEngine On


##################
# Rewrite rule if *.owl, .ttl or .ttl  files are requested
##################
RewriteRule \.(owl|rdf|html|ttl|nt|txt|md|png|php|html|json)$ - [L]

##################
# Rewrite rule to serve  text/plain content if requested
##################
RewriteCond %{HTTP_ACCEPT} text/plain
RewriteRule ^(.*)$ /nlp2rdf/specification/example/$1.txt [R=303,L]

RewriteCond %{HTTP_ACCEPT} text/html
RewriteRule ^(.*)$ /nlp2rdf/specification/example/$1.php [R=303,L]

RewriteCond %{HTTP_ACCEPT} text/turtle
RewriteRule ^(.*)$ /nlp2rdf/specification/example/$1.ttl [R=303,L]

RewriteCond %{HTTP_ACCEPT} application/rdf\+xml
RewriteRule ^(.*)$ /nlp2rdf/specification/example/$1.rdf [R=303,L]

RewriteCond %{HTTP_ACCEPT} application/ld\+json
RewriteRule ^(.*)$ /nlp2rdf/specification/example/$1.json [R=303,L]

RewriteCond %{HTTP_ACCEPT} application/json
RewriteRule ^(.*)$ /nlp2rdf/specification/example/$1.json [R=303,L]


#################
# Default here is turtle
#################
RewriteRule (.*)$ /nlp2rdf/specification/example/$1.ttl [R=303,L]
